  <body class="d-flex justify-content-center align-items-center vh-100">
    
    <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
      <h1 class="text-center fs-1">Hola!</h1>

      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

        <div class="input-group mt-4">
          <div class="input-group-text bg-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>
          </div>
          <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control bg-light" placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario" required/>
          <label class="form-label" for="typeEmailX"></label>
        </div>
  
        <div class="input-group mt-1">

          <div class="input-group-text bg-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
              <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
            </svg>
          </div>
          <input type="password" id="password" name="password" class="forms-control bg-light" placeholder="Contraseña" [(ngModel)]="password" required/>
          <label class="form-label" for="typePasswordX"></label>
        </div>
        
        <button class="btn btn-outline-success me-2 border-0  w-100 mt-4 fw-semibold shadow-sm" type="submit">Iniciar sesión</button>

      </form>

    </div>

  </body>
