<div *ngIf="expLab">
    <div class="container-form">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreE">Nombre de la Experiencia</label>
                <input type="text" name="nombreE" class="form-control" id="nombreE" [(ngModel)]="expLab.nombreE"
                    required>
            </div>
            <div class="form-group">
                <label for="nombreEmpresa">Nombre de la Empresa</label>
                <input type="text" name="nombreEmpresa" class="form-control" id="nombreEmpresa"
                    [(ngModel)]="expLab.nombreEmpresa" required>
            </div>
            <div class="form-group">
                <label for="esTrabajoActual">Es trabajo actual?</label>
                <input type="text" name="esTrabajoActual" class="form-control" id="esTrabajoActual"
                    [(ngModel)]="expLab.esTrabajoActual">
            </div>
            <div class="form-group">
                <label for="fechaInicio">Fecha de Inicio</label>
                <input type="text" name="fechaInicio" class="form-control" id="fechaInicio"
                    [(ngModel)]="expLab.fechaInicio" required>
            </div>
            <div class="form-group">
                <label for="fechaFin">Fecha Fin</label>
                <input type="text" name="fechaFin" class="form-control" id="fechaFin" [(ngModel)]="expLab.fechaFin">
            </div>
            <div class="form-group">
                <label for="descripcionE">Descripción</label>
                <input type="text" name="descripcionE" class="form-control my-input" id="descripcionE"
                    [(ngModel)]="expLab.descripcionE" required>
            </div>
            <br>
            <div class="form-buttons">
                <button type="submit" class="btn btn-outline-secondary te" id="button-editar">
                    Actualizar experiencia
                </button>
                <button type="submit" class="btn btn-outline-secondary te" id="button-cancel2" (click)="cancelar()">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>