/* ****Custom Properties***** */
:root {
    --first-color: rgba(208, 64, 40, 1);
    --first-alpha-color: rgba(208, 64, 40, 0.75);
    --second-color: rgba(89, 177, 119, 1);
    --second-alpha-color:  rgba(89, 177, 119, 0.75);
    --third-color: rgba(50, 90, 54, 1);
    --third-alpha-color: rgba(50, 90, 54, 0.75);

    --link-color: rgba(18, 19, 12, 1);

    --bg-color: rgba(225, 200, 148, 0.75);
}

/* ***** Reset Styles ***** */ 
* {
    list-style:none;
}
body {
    font-family: 'Mukta', sans-serif !important;
    font-weight: 400 !important;
}

h1 {
    color: var(--first-alpha-color);
    font-weight: 600 !important;
}

h2, h4 {
    font-weight: 200 !important;
    color: var(--first-color);
}

footer {
    padding-bottom: 10px;
    background-color: rgba(208, 64, 40, 0.75)!important;
}

#acerca-de, #educacion, #experiencias, #proyectos, #hys {
    padding-top: 5em;
    padding-bottom: 5em;
}


/* ***** Bootstrap Styles **** */

.navbar-brand img {
    width: auto;
    height: 50px;
}

#boton-inicio {
    --bs-btn-color: var(--first-color);
    --bs-btn-border-color: var(--first-color);
    --bs-btn-hover-bg: rgba(89, 177, 119, 1);
    --bs-btn-hover-border-color: rgba(208, 64, 40, 1);
    font-weight: bold;
}

#boton-cerrar {
    --bs-btn-color: var(--first-color);
    --bs-btn-border-color: rgba(208, 64, 40, 1);
    --bs-btn-hover-bg: rgba(89, 177, 119, 1);
    --bs-btn-hover-border-color: rgba(208, 64, 40, 1);
    font-weight: bold;
}

#barra-navegacion {
    background-color: rgba(208, 64, 40, 0.75)!important;
}

#iconos svg{
    color: white;
}

#iconos a {
    text-align: justify;
    margin-right: 20px;
}

.bg-info {
    background-color: rgba(225, 200, 148, 0.75)!important;
}

.linea {
    border-top: 1px solid var(--first-alpha-color);
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

.nombre-institucion {
    font-family: 'Merriweather', serif;
    font-weight: light;
}




/*#contact-button {
    dis
    position: relative;
    bottom:150px;
    right: 5px;
}

#background-banner {

    display:inline-block;
}
*/





/* **** My Styles **** */
/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}