/* ****Custom Properties***** */
:root {
    --first-color: rgba(208, 64, 40, 1);
    --first-alpha-color: rgba(208, 64, 40, 0.75);
    --second-color: rgba(89, 177, 119, 1);
    --second-alpha-color: rgba(89, 177, 119, 0.75);
    --third-color: rgba(50, 90, 54, 1);
    --third-alpha-color: rgba(50, 90, 54, 0.75);

    --bg-color: rgba(225, 200, 148, 0.75);
}

/* ***** Componentes General ***** */
* {
    list-style: none;
}

body {
    font-family: 'Mukta', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px;
}

h1 {
    color: var(--first-alpha-color);
    font-weight: 600 !important;
}

h2,
h4 {
    font-weight: 200 !important;
    color: var(--first-color);
}

.nombre-institucion {
    font-weight: 200 !important;
    font-size: large;
}

time {
    font-weight: 200 !important;
    font-size: medium;
}

.modificar-button {
    text-align: end;
}

footer {
    background: linear-gradient( var(--first-alpha-color));
    display: flex;
    text-align: center;
    align-items: flex-end;
    height: 8rem;
}

#acerca-de,
#educacion,
#experiencias,
#proyectos,
#hys {
    margin-top: 5rem;
    margin-top: 5rem;
}

.linea {
    border-top: 1px solid var(--first-alpha-color);
    height: 2px;
    max-width: 400px;
    padding: 0;

}

.container-icons {
    text-align: right;
    margin-bottom: 20px;
}

.icono {
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

#soft-skills {
    justify-content: center;
}

/*.nombre-institucion {
    font-family: 'Merriweather', serif;
    font-weight: light;
} */


/* ***** Barra de Navegación **** */

.navbar-brand img {
    width: auto;
    height: 50px;
}

#boton-inicio {
    --bs-btn-color: var(--first-color);
    --bs-btn-border-color: var(--first-color);
    --bs-btn-hover-bg: var(--third-color);
    --bs-btn-hover-border-color: var(--first-color);
    font-weight: bold;
}

#boton-cerrar {
    --bs-btn-color: var(--first-color);
    --bs-btn-border-color: var(--first-color);
    --bs-btn-hover-bg: var(--second-color);
    --bs-btn-hover-border-color: var(--first-color);
    font-weight: bold;
}

#barra-navegacion {
    background-color: var(--first-alpha-color) !important;
}

#iconos svg {
    color: white;
}

#iconos a {
    text-align: justify;
    margin-right: 20px;
}

/* ***** Login **** */
.bg-info,
#boton-user,
#boton-pass {
    background-color: var(--bg-color) !important;
}

#boton-is {
    color: var(--first-color);
    background-color: var(--bg-color);
}

#boton-is:hover {
    background-color: var(--third-color);
    color: white;
}



/* **** Banner Styles **** */

#texto-banner {
    font-family: 'Merriwether';
    font-weight: 600;
    font-size: 50px;
    color: var(--first-alpha-color);
    position: relative;
    top: 12px;
}

#texto2-banner {
    font-family: 'Merriwether';
    font-weight: 600;
    font-size: 18px;
    color: var(--first-alpha-color);
    position: relative;
    bottom: 12px;

}

.container-text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    order: 1;
}

@media (max-width: 768px) {

.container-banner {
    flex-direction: column-reverse;

}
.container-text {
    order: 2;
  }

  .background-banner {
    order: 1;
  }
}
.containner-banner {
    display: flex;
    flex-direction: column;
}

.background-banner {
    order: 2;
}

/* **** Carousel Styles **** */

.carousel-item img {
    border-radius: 10px;
}

#carousel-1,
#carouselExample,
#carouselExampleSlidesOnly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 600px;
    height: auto;
}


#carouselExampleIndicators {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#carousel-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
    align-self: center;
}

.links-videos {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(17, 17, 17);
}

.links-videos:hover {
    color: var(--first-color);
}

.proyectos {
    padding: 10px;
}


/* **** Formularios **** */

.container-form {
    margin-bottom: auto;
    margin: 5%;
}

.container-form form {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-form .form-group {
    width: 100%;
}

.container-form .form-group input {
    width: 100%;
}

#button-cancel,
#button-cancel2 {
    border: none;
}

#button-agregar,
#button-editar,
#button-acercaDe {
    background-color: transparent;
    color: var(--first-color);
    border-color: var(--first-color);
    margin-right: 10px;
}

#button-agregar:hover,
#button-editar:hover,
#button-acercaDe:hover {
    background-color: var(--first-color);
    color: white;
    border: none;
}

.form-buttons {
    display: flex;
    justify-content: flex-start;

}

/** Avatar **/

.avatar-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-column {
    margin: 20px;
    justify-content: space-between;
}



/* **** My Styles **** */

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}