<div class="container pt-5 mb-5">
    <div class="row">
      <div class="col-4">
        <h1>Proyectos</h1>
      </div>
      <div class="col-8">
        <button type="button" class="btn btn-outline-secondary te" *ngIf="isLogged">Modificar</button>
      </div>
    </div>
      
      <ul>
        <li class="row" *ngFor="let proyectos of proyectosList">
          <div>
            <h4>{{proyectos.name}}</h4>
          </div>
          <p class="fs-7">{{proyectos.text}}</p>
          <div>
            <img [src]="proyectos.image" class="img-thumbnail"/>
          </div>
      </li>
      </ul>

  </div>
