<div class="container" id="proyectos">
  <div class="row mb-4">
    <div class="col-4 ">
      <h1>Proyectos</h1>
    </div>
    <div class="col-8 modificar-button">
      <button type="button" class="btn btn-outline-secondary te" *ngIf="isLogged">Modificar</button>
    </div>
  </div>

  <app-slider></app-slider>

  <br>
  <div class="proyectos">
    <div class="titulo-proyecto">
      <h4>Edición y Montaje Audiovisual</h4>
    </div>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="assets/anadenoche.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">

            <a href="https://youtu.be/DgZ34pMsH6o" class="links-videos">
              <h5>Trailer "Ana de Noche"</h5>
            </a>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/VideoPerformance.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <a href="https://www.instagram.com/reel/CpydtHWjawD/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA=="
              class="links-videos">
              <h5>"Intersticios de recuerdos" VideoPerformance</h5>
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/Informe_LosAromos.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <a href="https://youtu.be/-QE0ES2YmZA" class="links-videos">
              <h5>Informe del Colectivo Cultural Los Aromos</h5>
            </a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <br>

  <div class="proyectos">
    <div class="titulo-proyecto">
      <h4>Motion Graphics</h4>
    </div>
    <div class="embed-responsive embed-responsive-16by9" id="container-video">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gE_Fi0I6H3o" title="YouTube video player"
        allowfullscreen></iframe>
    </div>
  </div>

</div>