<div class="container mb-5" id="educacion">
  <div class="row justify-content-between mb-4">

    <div class="col-4">
      <h1>Educación</h1>
    </div>

    <div class="col-8 modificar-button">
      <button type="button" class="btn btn-outline-secondary te" *ngIf="isLogged">Modificar</button>
    </div>
  </div>

  <div class="row p-3" *ngFor="let educacion of educacionList">

    <div class="col-4 p-3">
      <h4>{{educacion.title}}</h4>
    </div>
    <article class="col-8">
      <p class="nombre-institucion  "> {{educacion.school}}</p>
      <p> <time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
      <div class="linea"></div>
    </article>
  </div>


</div>