<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-4">
      <h1>Hard & Soft Skills</h1>
    </div>
    <div class="col-8">
      <button type="button" class="btn btn-outline-secondary te">Modificar</button>
    </div>
  </div>

  <div class="row"> 
    <div class="col-sm-12 col-md-6 col-lg-3 text-center">
      <circle-progress
        [percent]="80"
        [showUnits]="false"
        [radius]="70"
        [title]="'Creatividad'"
        [titleColor]="'rgba(208, 64, 40, 0.75)'"
        [titleFontWeight]="'200'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'rgba(208, 64, 40, 0.75)'"
        [innerStrokeColor]="'rgba(225, 200, 148, 0.75)'"
        [animation]="true"
        [animationDuration]="500">
        </circle-progress>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <circle-progress
            [percent]="70"
            [showUnits]="false"
            [radius]="70"
            [title]="'Análisis'"
            [titleColor]="'rgba(208, 64, 40, 0.75)'"
            [titleFontWeight]="'200'"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(208, 64, 40, 0.75)'"
            [innerStrokeColor]="'rgba(225, 200, 148, 0.75)'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <circle-progress
            [percent]="60"
            [showUnits]="false"
            [radius]="70"
            [title]="'Autosuficiente'"
            [titleColor]="'rgba(208, 64, 40, 0.75)'"
            [titleFontWeight]="'200'"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(208, 64, 40, 0.75)'"
            [innerStrokeColor]="'rgba(225, 200, 148, 0.75)'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <circle-progress
              [percent]="60"
              [showUnits]="false"
              [radius]="70"
              [title]="'Colaborativo'"
              [titleColor]="'rgba(208, 64, 40, 1)'"
              [titleFontWeight]="'200'"
              [showSubtitle]="false"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'rgba(208, 64, 40, 0.75)'"
              [innerStrokeColor]="'rgba(225, 200, 148, 0.75)'"
              [animation]="true"
              [animationDuration]="500">
        </circle-progress>
      </div>
  </div>

  <div class="row pt-5"> 
    <div class="col-sm-12 col-md-6 col-lg-3 text-center">
      <circle-progress
        [percent]="80"
        [showUnits]="false"
        [radius]="70"
        [title]="'HTML'"
        [titleColor]="'rgba(89, 177, 119, 1)'"
        [titleFontWeight]="'200'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'rgba(89, 177, 119, 1)'"
        [innerStrokeColor]="' rgba(50, 90, 54, 0.75)'"
        [animation]="true"
        [animationDuration]="500">
        </circle-progress>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <circle-progress
            [percent]="80"
            [showUnits]="false"
            [radius]="70"
            [title]="'CSS'"
            [titleColor]="'rgba(89, 177, 119, 1)'"
            [titleFontWeight]="'200'"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(89, 177, 119, 1)'"
            [innerStrokeColor]="' rgba(50, 90, 54, 0.75)'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <circle-progress
            [percent]="75"
            [showUnits]="false"
            [radius]="70"
            [title]="'Javascript'"
            [titleColor]="'rgba(89, 177, 119, 1)'"
            [titleFontWeight]="'200'"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(89, 177, 119, 1)'"
            [innerStrokeColor]="' rgba(50, 90, 54, 0.75)'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <circle-progress
              [percent]="90"
              [showUnits]="false"
              [radius]="70"
              [title]="'Inglés'"
              [titleColor]="'rgba(89, 177, 119, 1)'"
              [titleFontWeight]="'200'"
              [showSubtitle]="false"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'rgba(89, 177, 119, 1)'"
              [innerStrokeColor]="' rgba(50, 90, 54, 0.75)'"
              [animation]="true"
              [animationDuration]="500">
        </circle-progress>
      </div>
  </div>
</div>
